<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <h1> Bem Vindo a Home de Pesquisas</h1>
    <h3> IFMS</h3>
    <img src="./img/image.png" alt="cachorro">
    <a href="./pdf/edital.pdf" target="_blank">Download PDF</a>
</body>
</html>